html {
    color-scheme: dark;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 1.125rem;
    overflow-y: hidden;
}

h3 {
    margin: 0px;
    padding: 0px;
}

button {
    font-weight: 900;
    padding: 10px 45px;
    margin: 0 6px;
    border: 1px solid rgb(163, 70, 250);
    border-radius: 8px;
    background: rgb(163, 70, 250);
    transition: transform 0.07s ease;
}

button:hover:enabled {
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(110%);
}

button:active:enabled {
    cursor: pointer;
    filter: brightness(100%);
}

button:disabled,
button[disabled] {
    background-color: #404040;
    border: 1px solid #404040;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.scores {
    display: flex;
    width: 600px;
    font-size: 35px;
    align-items: center;
    gap: 16px;
    margin-bottom: 42px;
}

.scores .flex-start,
.scores .flex-end {
    display: flex;
    flex: 1;
}

.scores .flex-start {
    justify-content: flex-end;
}

.scores .flex-end {
    justify-content: flex-start;
}

.scores .score {
    background-color: rgb(141, 24, 250);
    padding: 6px 6px;
    margin: 0px 8px;
    border-radius: 6px;
    display: inline-block;
    /* Remove white space below span */
    height: 0.8em;
    line-height: 1em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices {
    margin-top: 16px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    border-radius: 16px;
    width: 600px;
    max-height: 400px;
    overflow-y: scroll;
    margin: 0px 0px;
    gap: 12px 25px;
}

.history-title {
    margin: 36px 0px 6px 0px;
}

.result-card {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #404040;
    padding: 16px 16px;
    border-radius: 12px;
    width: 180px;
    height: 90px;
}

.result-card .number {
    border-right: 2px solid #fff;
    padding-right: 8px;
    height: 100%;
    display: flex;
    align-items: center;
}

.result-card .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.result-card .round-result {
    font-size: 1.25rem;
}

.emoji {
    font-size: 1.75rem
}

.result-card .message {
    font-size: 0.75rem;
    font-weight: 900;
}



.game-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 16px;
    width: 600px;
    background-color: rgb(163, 70, 250);
    border-radius: 12px;
    padding: 30px 35px;

}

.game-result span {
    font-weight: bold;
    line-height: 0;
}